# Папки сборки
/WebTaskManagerApi/obj
 /WebTaskManagerApp/obj
 /WebTaskManagerApi/bin
 /WebTaskManagerApp/bin

 # Конфигурационные файлы
 appsettings.json
 *.config

 # Операционные файлы
 *.log
 *.tmp

# IDE
.vs/


/WebTaskManagerApp/obj
